- var buildString = global.buildInfo.commit + " @" + global.buildInfo.time

doctype html
html
  <!-- !{buildString} -->
  head
    title= title + "-" + buildString
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    block scripts
  body
    div(class="progress" id="progress")
      p(id="pgtxt")
    block content
