body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#controllers {
  position: absolute;
  top: 0px;
  right: 0px;
}

.controller {
  width: 5em;
}

.controller-label {
  margin: 0 auto;
  border: 2px solid black;
  padding: 2px;
}

.controller-track {
  margin: auto;
  height: 10em;
  background-color: darkgray;
}

.controller-debug {
  color: azure;
  position: relative;
  z-index: 10;
}

.controller-handle {
  background-color: red;
  height: 1em;
  width: 5em;
  border-radius: 0.3em;
  margin: 0 auto;
  border: 2px solid black;
  position: absolute;
}
